#head-color {
    color: blue
}
td, th {
    border: 1px solid lightskyblue
}
aside {
    display: -moz-inline-stack;
    text-align: right
    
}
#Note {
    color: red
}
a { text-decoration: none; }